# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Build output
dist/
build/
out/

# Coverage directory
coverage/

# Webpack config cache files
.cache/

src/components/contact-form.html

temp/