<!-- Basic page needs -->
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="description" content="" />
<!-- Mobile specific metas -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Favicon -->
<link
  rel="shortcut icon"
  type="image/x-icon"
  href="assets/images/favicon.webp"
/>

<!-- CSS
	============================================ -->

<!-- Icon Font CSS -->
<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="assets/css/elegent-font.css" />

<!-- Plugins CSS -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="assets/css/animate.min.css" />
<link rel="stylesheet" href="assets/css/TimeCircles.css" />
<link rel="stylesheet" href="assets/css/jquery-ui.min.css" />
<link rel="stylesheet" href="assets/css/venobox.css" />
<link rel="stylesheet" href="assets/css/meanmenu.css" />
<link rel="stylesheet" href="assets/css/nivo-slider.css" />
<link rel="stylesheet" href="assets/css/owl.carousel.css" />

<!-- Main Style CSS -->
<!-- <link rel="stylesheet" href="assets/css/style.css"> -->
<link rel="stylesheet" href="assets/css/style.css" />
<link rel="stylesheet" href="assets/css/responsive.css" />

<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css2?family=Droid+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@400;700&family=Open+Sans:wght@300;600&display=swap"
  rel="stylesheet"
/>
