<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="TPH Group - Your partner in innovation and excellence."
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/fav.png"
    />
    <title>TPH GROUP</title>
    <link rel="stylesheet" href="assets/css/plugins/fontawesome.css" />
    <link rel="stylesheet" href="assets/css/plugins/swiper.css" />
    <link rel="stylesheet" href="assets/css/plugins/metismenu.css" />
    <link rel="stylesheet" href="assets/css/plugins/magnifying-popup.css" />
    <link rel="stylesheet" href="assets/css/plugins/odometer.css" />
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" />
    <link
      href="css2.css?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet preload"
      as="style"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body class="color-yellow-demo onepage">
    <%- navbar %> <%- main %> <%- footer %>
  </body>
</html>
