<!-- home6-header-area start -->
<div class="light-header-area ptb-35">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-4">
        <div class="logo">
          <a href="index.html"
            ><img src="assets/images/logo-dark.webp" alt="logo"
          /></a>
        </div>
      </div>

      <div class="col-lg-8 d-none d-lg-block">
        <div class="mainmenu menu-dark-text">
          <nav>
            <ul>
              <li>
                <a href="index.html">Home</a>
              </li>
              <li class="static">
                <a href="about-us.html"
                  >About Us<i class="fa fa-angle-down" aria-hidden="true"></i
                ></a>
                <div class="mega-menu-2">
                  <span class="pr-30">
                    <a href="#" class="mega-title">Company Overview</a>
                    <a href="who-we-are.html">Who We Are</a>
                    <a href="company-information.html">Company Information</a>
                    <a href="corporate-structure.html">Corporate Structure</a>
                  </span>
                  <span class="pr-30">
                    <a href="#" class="mega-title">Leadership & Governance</a>
                    <a href="board-of-directors.html">Board of Directors</a>
                    <a href="corporate-vision.html">Corporate Vision</a>
                  </span>
                  <span class="pr-30">
                    <a href="#" class="mega-title">Strategy & Goals</a>
                    <a href="objective.html">Objective</a>
                    <a href="nbos.html">National Blue Ocean Strategy (NBOS)</a>
                  </span>
                  <div class="menu-image">
                    <span class="overlay pr-30">
                      <a href="#"
                        ><img src="assets/images/menu/1.webp" alt=""
                      /></a>
                    </span>
                    <span class="overlay pr-30">
                      <a href="#"
                        ><img src="assets/images/menu/2.webp" alt=""
                      /></a>
                    </span>
                    <span class="overlay pr-30">
                      <a href="#"
                        ><img src="assets/images/menu/3.webp" alt=""
                      /></a>
                    </span>
                  </div>
                </div>
              </li>
              <li>
                <a class="static" href="services.html">Security Services</a>
              </li>
              <li>
                <a class="static" href="our-training.html">Our Training</a>
              </li>
              <li>
                <a class="static" href="key-project.html">Key Project</a>
              </li>
              <li>
                <a class="static" href="license.html">License</a>
              </li>
              <li>
                <a class="static" href="contact-us.html">Contact Us</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-2 d-none d-lg-block"></div>
    </div>
  </div>
</div>
<!-- home6-header-area end -->
<!-- home6-mobile-menu-area start -->
<div class="mobile-menu-area d-lg-none">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="mobile-menu">
          <nav id="mobile-menu-active">
            <ul>
              <li>
                <a href="index.html">Home</a>
              </li>
              <li>
                <a href="#">About Us</a>
                <ul>
                  <li>
                    <a href="#">men</a>
                    <ul>
                      <li><a href="#">Blazers & Vests</a></li>
                      <li><a href="#">Graphics Tees</a></li>
                      <li><a href="#">Jeans</a></li>
                      <li><a href="#">Jackets & Outerwear</a></li>
                      <li><a href="#">Pants</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">women</a>
                    <ul>
                      <li><a href="#">Blazers & Vests</a></li>
                      <li><a href="#">Graphics Tees</a></li>
                      <li><a href="#">Jeans</a></li>
                      <li><a href="#">Jackets & Outerwear</a></li>
                      <li><a href="#">Pants</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">kid</a>
                    <ul>
                      <li><a href="#">New arrivals</a></li>
                      <li><a href="#">Blazers & Vests</a></li>
                      <li><a href="#">Graphics Tees</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="services.html">Services</a>
                <ul>
                  <li><a href="static-guard.html">Static Guard</a></li>
                  <li><a href="armed-guard.html">Armed Guard</a></li>
                  <li><a href="vip-bodyguard.html">VIP Bodyguard</a></li>
                  <li>
                    <a href="event-crowd-control.html">Event / Crowd Control</a>
                  </li>
                  <li>
                    <a href="security-escort-service.html"
                      >Security Escort Service</a
                    >
                  </li>
                  <li><a href="vehicle-patrol.html">Vehicle Patrol</a></li>
                </ul>
              </li>
              <li>
                <a href="clients.html">Clients</a>
              </li>
              <li>
                <a href="join-us.html">Join Us</a>
              </li>
              <li>
                <a href="contact-us.html">Contact Us</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- home6-mobile-menu-area end -->
