<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>Contact Us || Proguard Security Services</title>
    <%= htmlWebpackPlugin.options.templateParameters.commonHead %>
    <style>
      .card:hover {
        transform: scale(1.02);
        transition: transform 0.2s ease-in-out;
      }
      ul li {
        margin-bottom: 10px;
      }
      .whatsapp-button {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        background-color: #25d366;
        color: white;
        padding: 10px 16px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: 500;
        font-family: sans-serif;
        transition: background-color 0.3s ease;
      }

      .whatsapp-button:hover {
        background-color: #1ebc5b;
      }

      .whatsapp-button img {
        width: 24px;
        height: 24px;
        filter: brightness(0) invert(1);
      }
    </style>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <!-- site content here -->
    <div class="page-inner">
      <%= htmlWebpackPlugin.options.navbar %>

      <!-- contact-us-area start -->
      <div class="container-fluid">
        <div class="contact-us-area white-bg">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item active">Contact us</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="contact-us-inner-area white-bg ptb-50">
          <div class="container">
            <h1>Our Branches</h1>
            <div class="contact-us-topbar">
              <div class="row g-4">
                <!-- Branch 1 -->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow-sm rounded-4 border-0 h-100">
                    <div class="card-body">
                      <h5 class="card-title">HQ</h5>
                      <div class="d-flex mb-2">
                        <i class="fa fa-map-marker text-primary me-2 mt-1"></i>
                        <a
                          href="https://maps.app.goo.gl/JUt8NuhAh2rVnpRU9"
                          target="_blank"
                          class="text-decoration-none"
                        >
                          No. 61-1, Biz Avenue, Neo Cyber, Lingkaran Cyber Point
                          Barat, 63000 Cyberjaya, Selangor.
                        </a>
                      </div>
                      <div class="d-flex mb-2">
                        <i class="fa fa-envelope-o text-primary me-2 mt-1"></i>
                        <a
                          href="mailto:proguardsecurityservices@gmail.com"
                          class="text-decoration-none"
                        >
                          proguardsecurityservices@gmail.com
                        </a>
                      </div>
                      <div class="d-flex mb-2">
                        <i class="fa fa-phone text-primary me-2 mt-1"></i>
                        <a href="tel:+60383251966" class="text-decoration-none">
                          +603 8325 1966
                        </a>
                      </div>
                      <div class="d-flex">
                        <i class="fa fa-fax text-primary me-2 mt-1"></i>
                        <a href="tel:+60383227277" class="text-decoration-none">
                          +603 8322 7277
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Branch 2 -->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow-sm rounded-4 border-0 h-100">
                    <div class="card-body">
                      <h5 class="card-title">Johor 1</h5>
                      <div class="d-flex mb-2">
                        <i class="fa fa-map-marker text-primary me-2 mt-1"></i>
                        <a
                          href="https://maps.google.com/?q=70+%26+70A,+Jalan+Dato+Syed+Esa,+Taman+Pantai,+83000+Batu+Pahat,+Johor"
                          target="_blank"
                          class="text-decoration-none"
                        >
                          70 & 70A, Jalan Dato Syed Esa, Taman Pantai, 83000
                          Batu Pahat, Johor.
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Branch 3 -->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow-sm rounded-4 border-0 h-100">
                    <div class="card-body">
                      <h5 class="card-title">Johor 2</h5>
                      <div class="d-flex mb-2">
                        <i class="fa fa-map-marker text-primary me-2 mt-1"></i>
                        <a
                          href="https://maps.app.goo.gl/os2Nxi4cRFoezfsr7"
                          target="_blank"
                          class="text-decoration-none"
                        >
                          No.66, 2nd Floor, Jalan Pesta, Tama Tun Dr. Ismail
                          (1), Off Jalan Bakri, 84000 Muar, Johor.
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Branch 4 -->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow-sm rounded-4 border-0 h-100">
                    <div class="card-body">
                      <h5 class="card-title">Penang</h5>
                      <div class="d-flex mb-2">
                        <i class="fa fa-map-marker text-primary me-2 mt-1"></i>
                        <a
                          href="https://maps.app.goo.gl/3wvYH7YwNjdiNLfk8"
                          target="_blank"
                          class="text-decoration-none"
                        >
                          3056, Jalan Kampung Baru, Taman Kijang Indah, 14000
                          Bukit Mertajam, Pulau Pinang.
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Branch 5 -->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow-sm rounded-4 border-0 h-100">
                    <div class="card-body">
                      <h5 class="card-title">Terengganu</h5>
                      <div class="d-flex mb-2">
                        <i class="fa fa-map-marker text-primary me-2 mt-1"></i>
                        <a
                          href="https://maps.google.com/?q=Lot+1492,+Kedai+No.4,+Kampung+Denger,+Bukit+Putri,+22000+Jerteh,+Besut,+Terengganu"
                          target="_blank"
                          class="text-decoration-none"
                        >
                          Lot 1492, Kedai No.4, Kampung Denger, Bukit Putri,
                          22000 Jerteh, Besut, Terengganu.
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Branch 6 -->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow-sm rounded-4 border-0 h-100">
                    <div class="card-body">
                      <h5 class="card-title">Kelantan</h5>
                      <div class="d-flex mb-2">
                        <i class="fa fa-map-marker text-primary me-2 mt-1"></i>
                        <a
                          href="https://maps.google.com/?q=15-B,+Kawasan+Industri+Mara,+Jalan+Padang+Tembak+Pengkalan+Chepa,+16100+Kota+Bharu,+Kelantan+Darul+Naim"
                          target="_blank"
                          class="text-decoration-none"
                        >
                          15-B, Kawasan Industri Mara, Jalan Padang Tembak
                          Pengkalan Chepa, 16100 Kota Bharu, Kelantan Darul
                          Naim.
                        </a>
                      </div>
                      <div class="d-flex mb-2">
                        <i class="fa fa-phone text-primary me-2 mt-1"></i>
                        <a href="tel:+6097717858" class="text-decoration-none">
                          +609 771 7858 / 7731612
                        </a>
                      </div>
                      <div class="d-flex">
                        <i class="fa fa-fax text-primary me-2 mt-1"></i>
                        <a href="tel:+6096973331" class="text-decoration-none">
                          +609 697 3331
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Branch 7 -->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow-sm rounded-4 border-0 h-100">
                    <div class="card-body">
                      <h5 class="card-title">Sabah</h5>
                      <div class="d-flex mb-2">
                        <i class="fa fa-map-marker text-primary me-2 mt-1"></i>
                        <a
                          href="https://maps.google.com/?q=14,+Block+E,+1st+Floor,+Lorong+Kingfisher+5,+Jalan+Hospital+Likas,+88450+Kota+Kinabalu,+Sabah"
                          target="_blank"
                          class="text-decoration-none"
                        >
                          No. 14, Block E, 1st Floor, Lorong Kingfisher 5, Jalan
                          Hospital Likas, 88450 Kota Kinabalu, Sabah.
                        </a>
                      </div>
                      <div class="d-flex mb-2">
                        <i class="fa fa-phone text-primary me-2 mt-1"></i>
                        <a href="tel:+6088438778" class="text-decoration-none">
                          +6088 438 778 / 388111
                        </a>
                      </div>
                      <div class="d-flex">
                        <i class="fa fa-fax text-primary me-2 mt-1"></i>
                        <a href="tel:+6088431116" class="text-decoration-none">
                          +6088 431 116
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Branch 8 -->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow-sm rounded-4 border-0 h-100">
                    <div class="card-body">
                      <h5 class="card-title">Sarawak</h5>
                      <div class="d-flex mb-2">
                        <i class="fa fa-map-marker text-primary me-2 mt-1"></i>
                        <a
                          href="https://maps.app.goo.gl/NwJrnLEB6ybNEhBs9"
                          target="_blank"
                          class="text-decoration-none"
                        >
                          No. 135, Lot 72, Ground Floor, Jalan Sekama, 933000
                          Kuching, Sarawak.
                        </a>
                      </div>
                      <div class="d-flex mt-1">
                        <i class="fa fa-phone text-primary me-2"></i>
                        <i class="fa fa-fax text-primary me-2"></i>
                        <a href="tel:+6082480092" class="text-decoration-none">
                          +6082 480 092
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ptb-40">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.963735008417!2d101.6479033!3d2.9153663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdb77c76cc6d89%3A0xe2cb14c2fd9c544a!2sProguard%20Security%20Services%20(M)%20Sdn.%20Bhd.!5e0!3m2!1sen!2smy!4v1716101296463!5m2!1sen!2smy"
                width="100%"
                height="450"
                style="border: 0; border-radius: 8px; display: block"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <!-- contact-us-area end -->

      <%= htmlWebpackPlugin.options.footer %>
    </div>

    <!-- JS
    ============================================ -->

    <!-- Modernizer & jQuery JS -->
    <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/jquery.nivo.slider.pack.js"></script>
    <script src="assets/js/nivo-active.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/TimeCircles.js"></script>
    <script src="assets/js/venobox.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/jquery.meanmenu.js"></script>
    <script src="assets/js/jquery.scrollUp.js"></script>
    <script src="assets/js/wow.min.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
